.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust to your needs */
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}